@theme {
  --color-primary-text: #939393;
  --color-secondary-text: #727272;
  --color-overlay-text: #3A3A3A;
  --color-primary-content-background: #FFFFFF;
  --color-secondary-content-background: #FCFCFC;
  --color-primary-title-background: #FBFBFB;
  --color-secondary-title-background: #F8F8F8;
  --color-mobile-title-background: #FAFAFA;
  --color-highlight: #F8BB10;
  --color-highlight-hover: #E0A707;
  --color-line: #ECECEC;
}

[data-theme="dark"] {
  --color-primary-text: #A4A5A6;
  --color-secondary-text: #979899;
  --color-overlay-text: #E4E5E5;
  --color-primary-content-background: #2D2E2E;
  --color-secondary-content-background: #2B2C2C;
  --color-primary-title-background: #2B2C2C;
  --color-secondary-title-background: #292A2A;
  --color-mobile-title-background: #282929;
  --color-highlight: #E0A80D;
  --color-highlight-hover: #FEFAEE;
  --color-line: #3A3A3A;
}