@theme {
  --color-primary-text: #939393;
  --color-secondary-text: #727272;
  --color-overlay-text: #3A3A3A;
  --color-primary-content-background: #FFFFFF;
  --color-secondary-content-background: #FCFCFC;
  --color-primary-title-background: #FBFBFB;
  --color-secondary-title-background: #F8F8F8;
  --color-mobile-title-background: #FAFAFA;
  --color-highlight: #F8BB10;
  --color-highlight-hover: #E0A707;
  --color-line: #ECECEC;
}